_tmp/
_tmp/*.*
bin/*.*
bin/Debug
bin/Debug/*.*
bin/Release
bin/Release/*.*
obj/*.*
obj/Debug
obj/Debug/*.*
obj/Release
obj/Release/*.*
[Dd]ebug/
[Dd]ebug/*.*
[Dd]ebug/Dialogs
[Dd]ebug/Dialogs/*.*
[Rr]elease/
[Rr]elease/*.*
[Rr]elease/Dialogs
[Rr]elease/Dialogs/*.*
*.layout
*.depend
*.db